@model Monitoria.Models.ForgotPaswordModel
@{
    ViewBag.Title = "ForgotPassword";
}

@{
    Layout = null;
    ViewBag.Title = "Alterar senha";
}
<title>@ViewBag.Title - Monitoria</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/estilo.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/main.js?version=12"></script>
<body>
    <div class="container-login100">
        <div class="wrap-login100">

            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
              new { @class = "login100-form validate-form", role = "form" }))
            {

                @Html.AntiForgeryToken()

                <span class="login100-form-title p-b-48 p-0">
                    <img src="~/Images/icon.png" class="img-fluid" style="width:80%" />
                </span>
                
                <div class="wrap-input100 m-b-23">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100-login" data-placeholder="Login"></span>
                </div>
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                <div class="wrap-input100 m-b-23">
                    <span class="btn-show-pass">
                        <i class="fa fa-eye"></i>
                    </span>
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100-senha" data-placeholder="Senha"></span>
                </div>
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                <div class="wrap-input100 m-b-23">
                    <span class="btn-show-pass">
                        <i class="fa fa-eye"></i>
                    </span>
                    @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100-senha" data-placeholder="Confirma Senha"></span>
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
                <div class="container-login100-form-btn p-b-3">

                    <input type="submit" value="Atualizar senha" class="btn btn-outline-secondary w-100" />

                </div>
                <div class="col-md-12 text-center p-t-50">
                    <span class="text-muted d-block">
                        Já possui uma conta?
                    </span>

                    @Html.ActionLink("Entre com seu login e senha", "Login", "", new { @class = "text-primary" })
                </div>
            }

        </div>
    </div>

</body>
